<?xml version="1.0"?>
<config>
	<modules>
		<Agere_Robots>
			<version>1.0.1</version>
		</Agere_Robots>
	</modules>

	<frontend>
		<routers>
			<agere_robots>
				<use>standard</use>
				<args>
					<module>Agere_Robots</module>
					<frontName>robots</frontName>
				</args>
			</agere_robots>
		</routers>
	</frontend>

	<!-- is important place this code (<adminhtml/>) in config.xml if you wand place this in adminhtml.xml nothing happen -->
	<adminhtml>
		<layout>
			<updates>
				<agere_robots>
					<!--
					We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
					- Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
					-->
					<file>agere/robots.xml</file>
				</agere_robots>
			</updates>
		</layout>
	</adminhtml>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<!-- This is how we load our Adminhtml controllers -->
					<modules>
						<agere_robots before="Mage_Adminhtml">Agere_Robots_Adminhtml</agere_robots>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<global>
		<helpers>
			<agere_robots>
				<!-- This is where we define our helper directory -->
				<class>Agere_Robots_Helper</class>
			</agere_robots>
		</helpers>
		<blocks>
			<agere_robots>
				<!-- Set a block definition and lookup directory -->
				<class>Agere_Robots_Block</class>
			</agere_robots>
		</blocks>
		<models>
			<agere_robots>
				<!-- This is where we define our model directory -->
				<class>Agere_Robots_Model</class>
				<!-- Define a resource to create a custom table -->
				<resourceModel>agere_robots_resource</resourceModel>
			</agere_robots>
			<!-- Here's our resource model we'll use to create a database table -->
			<agere_robots_resource>
				<class>Agere_Robots_Model_Resource</class>
				<entities>
					<!-- Let's define our table, we'll call it with the baz name, but the real table is foo_bar_baz -->
					<!-- After we define our entity, we can call it with our model by calling foo_bar/baz -->
					<robots>
						<table>agere_robots</table>
					</robots>
				</entities>
			</agere_robots_resource>
		</models>
		<!-- And finally we define our resource setup script -->
		<resources>
			<agere_robots_setup>
				<setup>
					<module>Agere_Robots</module>
				</setup>
			</agere_robots_setup>
		</resources>

		<events>
			<controller_front_init_routers>
				<observers>
					<agere_robots_add_router_observer>
						<type>singleton</type>
						<class>Agere_Robots_Model_Observer</class>
						<method>hookAddModuleToRequest</method>
					</agere_robots_add_router_observer>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>

</config>
